# the syntax of this gitignore is also too difficult to understand
# respect my mind when I was young, now I'm too old to deal with this

# just in case, actually following settings already cover this
*.html

# exclude file types
*.sublime_session
*.db

# exclude all
/*
!README.md
!.gitignore

!Local/
Local/*
# include license
!Local/License.sublime_license

# include "Packages"
!Packages/
# exclude all folders and files in "Packages" but this folder
Packages/*
!Packages/User/

# exclude folders patterns
*History*
*history*
*tmp*
*cache*

# gitignore fucked my brain!
# see https://www.kernel.org/pub/software/scm/git/docs/gitignore.html for detail

# see [fnando](https://github.com/fnando/sublime-text/blob/master/.gitignore)

# license, it's enced binary, syncing it is useless

*License.sublime_license*