# the syntax of this gitignore is also too difficult to understand
# respect my mind when I was young, now I'm too old to deal with this

# built html files
*.html

# license, it's enced binary, syncing it is useless
*License.sublime_license*

# exclude file types
*.sublime_session
*.db

# exclude folders patterns
*History*
*history*
*tmp*
*cache*

# deprecated
# gitignore fucked my brain!
# see https://www.kernel.org/pub/software/scm/git/docs/gitignore.html for detail
# see [fnando](https://github.com/fnando/sublime-text/blob/master/.gitignore)

